@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.hero-section { 
  background-image: url('/images/backgroundhero.jpg');
  background-size: cover;
  height: 650px;
}

.row {
  height: 100%;
}

.container {
  height: 100%;
}

.hero-text .heart {
  background-color: #E5FCF7;
  padding: .5em;
  width: fit-content;
  margin-bottom: 0 !important;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.hero-section .heart {
  color: #147b59;
}

.hero-text .heart p {
  margin: 0;
  color: #147b59;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-text h1{
  font-size: 3.2em;
  font-weight: bold;
}

.hero-text .paragraph1{
  font-size: 1em;
  color: rgb(85, 85, 85);
}

.hero-text .hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-text .button-contact{
  width: 150px;
  height: 50px;
  background-color: white;
  color: #2155c6;
  border: 2px solid #2563EB;
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hero-text .button-contact:hover{
  background-color: #EFF6FF;
  color: #2155c6;
  transform: scale(1.05);
}

.hero-text .button-appointment {
  width: 230px;
  height: 50px;
  background-color: #2563EB;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hero-text .button-appointment:hover {
  background-color: #1E40AF;
  transform: scale(1.05);
}

.hero-text .button-appointment i{
  margin-left: 8px;
}

.hero-text .button-appointment:hover i {
  margin-left: 20px;
  transition: margin-left 0.3s ease;
}

.phrases {
  display: flex;
  gap: 100px;
}

.phrases .catchy {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.phrases .years {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color:#1E40AF;
}

.phrases .experience {
  font-size: .9em;
  color: #30598e;
  margin: 0;
}

/*--------Hero Image CSS------------------*/
.hero-image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img{
  width: 80%;
  height: 90%;
  border-radius: 12px;
}



/*--------END------------------Hero Image CSS-------------------------------------*/


















/*--------START------------------Machine Card CSS-------------------------------------*/
body {
  background-color: #ffffff;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}

.machines {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  gap: 25px;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: 1320px;
}

.machine--1 .machine__img,
.machine--1 .machine__img--hover {
  background-image: url('/images/Bacteriogolical_Incubator.webp');
  background-size: contain;
}

.machine--2 .machine__img,
.machine--2 .machine__img--hover {
  background-image: url('/images/Chemistry_Analyzer.webp');
  background-size: contain;
}

.machine--3 .machine__img,
.machine--3 .machine__img--hover {
  background-image: url('/images/CLIA.webp');
  background-size: contain;
}

.machine--4 .machine__img,
.machine--4 .machine__img--hover {
  background-image: url('/images/HPLC.webp');
  background-size: contain;
}

.machine__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.machine__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.machine__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.machine {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 30%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 3px 7px 12px 2px rgba(0, 0, 0, 0.1);
}

.machine:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.0, 1.10);
}

.machine__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.machine__title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.machine__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.machine__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.machine:hover .machine__img--hover {
  height: 90%;
  opacity: 0.3;
}

.machine:hover .machine__info {
  background-color: transparent;
  position: relative;
}

.machine:hover .machine__info-hover {
  opacity: 1;
}
/*-------------END--------------------Machine Card CSS-----------------------------------*/

