@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
  box-sizing: border-box;
}

:root {
  --catchy-color: #2563EB;
  --catchy-hover: #1E40AF;
  --grey-theme: #fcfcfc;
  --paragraph-color: rgb(64, 64, 64);
  --light-blue: #F3F8FF;
  --green-color: #E5FCF7;
  --green-font: #147b59;
}

body,
html {
  margin-top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.container {
  max-width: 1450px;
}

.hero-section {
  /* background-color: black; */
  height: 625px;
  border-radius: 20px;
}

.hero-section .row {
  display: flex;
  gap: 20px;
  height: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 600px;
  padding-left: 20px;
  border-radius: 10px;
  position: relative;
  flex: 1 0 auto;
}

.hero-text::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -0px;
  width: 80px;    
  height: 80px;
  background: white;
  border-top-left-radius: 80px;
  box-shadow: -10px 10px 20px rgba(255, 255, 255, 0.05);
}

.main-texts {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.hero-image {
  width: 600px;
  background: #f6f6f6 ;
  border-radius: 10px;
  position: relative;
  flex: 1 0 auto;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-section .heart {
  padding: .5em .5em .5em 0;
  width: fit-content;
  margin-bottom: 0 !important;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}

.hero-section .heart:hover {
  transform: scale(1.05);
  cursor: default;
}

.hero-section .heart i {
  color: var(--green-font);
}

.hero-section .heart {
  color: #147b59;
}

.hero-section .heart p {
  margin: 0;
  color: #147b59;
}

.hero-text h1 {
  font-size: 3em;
  font-weight: bold;
  color: black;
}

.medical-word {
  color:black;
  /* text-decoration: underline; */
}

.hero-text .paragraph1 {
  font-size: 1.1em;
  width: 90%;
  color: var(--paragraph-color);
  text-align: left;
}

.hero-text .hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-text .button-contact {
  width: 150px;
  height: 50px;
  background-color: white;
  color: var(--green-font);
  border: 2px solid var(--green-font);
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hero-text .button-contact:hover {
  background-color: var(--green-color);
  color: var(--green-font);
  transform: scale(1.05);
}

.hero-text .button-appointment {
  width: 210px;
  height: 50px;
  background-color: var(--green-font);
  color: var(--green-color);
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hero-text .button-appointment:hover {
  background-color: var(--green-font);
  color: white;
  transform: scale(1.05);
}

.hero-text .button-appointment i {
  margin-left: 8px;
}

.hero-text .button-appointment:hover i {
  margin-left: 20px;
  transition: margin-left 0.3s ease;
}


/*--------END------------------Hero Section CSS-------------------------------------*/


/*--------START------------------Countries Section CSS-------------------------------------*/

.flags-container h3 {
  font-weight: bold;
}

.flags-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.corousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: .5em;
}

.corousel::-webkit-scrollbar {
  display: none;
} 

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 10s infinite linear;
  padding-right: 1em;
}

.card {
  border: none;
  flex: 0 1 5em;
  height: 5em;
  padding: 1em;
  background-color: white;
  font-size: 2rem;
  border-radius: .2em;
  text-align: center;
  align-content: center;
} 

.card img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}
/*--------END-----Countries Section CSS-------------------------------------*/

.third-component {
  background-color: var(--grey-theme);
  padding: 2em;
}

.experienced {
  display: flex;
}

.image-wrapper {
  position: relative;
  width: 650px;
}

.experienced-image {
  background-image: url("/images/other_images/lab.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: bottom;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

.experienced-text {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translateY(-50%);
  background: white;
  padding: 25px 30px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 3px 7px 12px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.experienced-text h4 {
  margin: 0;
  font-size: 1.5em;
  padding: 0 0 .5em 0;
}

.experienced-text p {
  margin: 0;
  color: var(--paragraph-color);
  font-size: .8em;
}

.phrases {
  display: flex;
  gap: 115px;
  justify-content: center;
}

.phrases .catchy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phrases .years {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: var(--green-font);
}

.phrases .experience {
  font-size: .9em;
  color: var(--paragraph-color);
  margin: 0;
}

/*--------START------------------Machine Card CSS-------------------------------------*/
body {
  background-color: #ffffff;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}

.machine-container {
  background-color: var(--grey-theme);
  padding: 30px;
}

.machines {
  width: 100%;
  gap: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-justify-content: center;
}

.machines .cards {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 70%;
}

.machine--1 .machine__img,
.machine--1 .machine__img--hover {
  background-image: url('/images/machines/Drying_Oven.webp');
  background-size: contain;
}

.machine--2 .machine__img,
.machine--2 .machine__img--hover {
  background-image: url('/images/machines/Chemistry_Analyzer.webp');
  background-size: contain;
}

.machine--3 .machine__img,
.machine--3 .machine__img--hover {
  background-image: url('/images/machines/CLIA.webp');
  background-size: contain;
}

.machine--4 .machine__img,
.machine--4 .machine__img--hover {
  background-image: url('/images/machines/HPLC.webp');
  background-size: contain;
}

.machine__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.machine__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.machine__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 180px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.machine {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 25%;
  height: auto;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 3px 7px 12px 2px rgba(0, 0, 0, 0.1);
}

.machine:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.0, 1.05);
}

.machine__info {
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 20px 20px 20px;
}

.machine__info .machine__title {
  font-weight: 500;
  font-family: "Saira", sans-serif;
}

.machine__title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.machine__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.machine__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.machine:hover .machine__img--hover {
  height: 90%;
  opacity: 0.3;
}

.machine:hover .machine__info {
  background-color: transparent;
  position: relative;
}

.machine:hover .machine__info-hover {
  opacity: 1;
}

.view-more-btn button {
  padding: 5px 10px;
  font-size: 1rem;
  color: white;
  background-color: var(--green-font);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-btn button:hover {
  background-color: var(--catchy-hover);
}

.machines-header h5 {
  font-family: "Saira", sans-serif;
  font-size: 1.5em;
}

.machines-header p {
  font-family: 'Saira', sans-serif;
  font-size: 0.8em;
}

/*-------------END--------------------Machine Card CSS-----------------------------------*/