/* Basic styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}

h1 {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    font-weight: bold;
}

.navbar img {
    height: 50px;
    width: auto;
}

.navbar {
    background-color: white;
    padding: .5em 1em .5em 1em;
    width: 60%;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 
        4px 0 4px rgba(183, 183, 183, 0), 
        -4px 0 4px rgba(183, 183, 183, 0), 
        0 5px 4px rgba(183, 183, 183, 0.4);
}

.navbar .nav {
    gap: 35px;
    text-decoration: none;
    text-align: start;
}

.navbar .nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.nav a:hover {
    color: black;
}

.navbar .contact {
    padding: .4em 1.3em .3em 1.4em;
    background-color:#2563EB;
    border-radius: 18px;
}

.navbar .contact:hover {
    background-color: #2a6dff;
    
}

.navbar .contact a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.navbar .contact a:hover {
    color: white;
}


