/* Basic styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.logos .logo img {
    height: 40px;
    width: auto;
}


#app {
    padding-top: 70px;
}

/* ===== NAVBAR WRAPPER ===== */
#main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* transparent glass */
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    padding: 12px 0;
}

/* ===== INNER NAVBAR ===== */
.navbar {
    width: 100%;
    margin: 0 auto;
    gap: 40px;
    padding: 4px 30px;
}

.logos a {
    font-size: large;
    text-decoration: none;
    color: black;
}

/* ===== NAV LINKS ===== */
.nav {
    display: flex;
    gap: 50px;
}

.nav a {
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 4px 15px;
    border-radius: 20px;
    transition: 0.25s ease;
}

.nav a:hover {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    transform: translateY(-2px);
}

.nav a.active {
    color: #2563EB !important;
    /* border-bottom: 2px solid #2563EB; */
}

/* ===== CONTACT BUTTON ===== */
.contact a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 7px 26px;
    border-radius: 14px;
    background: #2563EB;
    color: white;
    backdrop-filter: blur(6px);
    transition: 0.3s;
}

.contact a:hover {
    background: #1E40AF;
    transform: translateY(-3px);
}
