/* Basic styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}

h1 {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    font-weight: bold;
}

.navbar img {
    height: 50px;
    width: auto;
}

.navbar {
    background-color: transparent;
    padding: .5em 1em .5em 1em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav {
    gap: 35px;
    text-decoration: none;
    text-align: start;
}

.navbar .nav a {
    text-decoration: none;
    color: grey;
    font-size: 1.1rem;
}

.nav a:hover {
    color: black;
}

.navbar .contact {
    padding: .4em 1.3em .3em 1.4em;
    background-color:black;
    border-radius: 1em;
}

.navbar .contact:hover {
    background-color: rgb(61, 61, 61);
    
}

.navbar .contact a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.navbar .contact a:hover {
    color: white;
}


